nav {
  background-color: #f1f1f1;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  a {
    padding: 1rem;
    color: #333;
    text-decoration: none;
  }

  .bordered {
    border: 0.1rem solid black;
    border-radius: 1rem;
  }

  a:hover {
    background-color: #ddd;
  }

  border-bottom: 0.25rem solid black;
}
